<tr id="form">
  <td colspan="10">
    <%= form_for @oz_lotto, remote: true do |f|   %>
      <%= f.text_field  :n1, as: :integer, class: "lotto" %>
      <%= f.text_field  :n2, as: :integer, class: "lotto" %>
      <%= f.text_field  :n3, as: :integer, class: "lotto" %>
      <%= f.text_field  :n4, as: :integer, class: "lotto" %>
      <%= f.text_field  :n5, as: :integer, class: "lotto" %>
      <%= f.text_field  :n6, as: :integer, class: "lotto" %>
      <%= f.text_field  :n7, as: :integer, class: "lotto" %>
      <%= f.submit "Update" %>
    <% end %>
  </td>
</tr>
