<tr id="form">
  <td colspan="10">
    <%= simple_form_for @oz_lotto, remote: true do |f|   %>
      <%= f.input  :n1, as: :integer %>
      <%= f.input  :n2, as: :integer %>
      <%= f.input  :n3, as: :integer %>
      <%= f.input  :n4, as: :integer %>
      <%= f.input  :n5, as: :integer %>
      <%= f.input  :n6, as: :integer %>
      <%= f.input  :n7, as: :integer %>
      <%= f.button :submit %>
    <% end %>
  </td>
</tr>
