<table>
      <tr>
        <th colspan="9">lottos</th>
        <th>1-9</th>
        <th>10-19</th>
        <th>20-29</th>
        <th>30-39</th>
        <th>40-45</th>
      </tr>

    <% @oz_lottos.each do |lotto| %>

        <tr>
          <td><%= lotto.n1 %></td>
          <td><%= lotto.n2 %></td>
          <td><%= lotto.n3 %></td>
          <td><%= lotto.n4 %></td>
          <td><%= lotto.n5 %></td>
          <td><%= lotto.n6 %></td>
          <td><%= lotto.n7 %></td>
          <td><%#= link_to edit_task_path(task), remote: true do %>
            <button class="btn btn-primary btn-xs">Edit</button>
          <%# end %></td>
          <td>
            <%= link_to remove_lotto_path(lotto), remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <button class="btn btn-danger btn-xs">Delete!</button>
            <% end %>
          </td>
          <td>
            <%= range_count(1,9,lotto) %>
          </td>
          <td>
            <%= range_count(10,19,lotto) %>
          </td>
          <td>
            <%= range_count(20,29,lotto) %>
          </td>
          <td>
            <%= range_count(30,39,lotto) %>
          </td>
          <td>
            <%= range_count(40,45,lotto) %>
          </td>
        </tr>

    <% end %>
</table>

<table>
  <tr>
    <th colspan=" <%= @vacant_number.count %> ">The <%= @vacant_number.count %> missing number is </th>
  </tr>
  <tr>
    <% @vacant_number.each do |n| %>
      <td><%= n %></td>

    <% end %>
  </tr>
</table>
