<table class="table table-hover">
    <thead>
      <tr>
        <th colspan="9">What have you had </th>
        <th>1s</th>
        <th>10s</th>
        <th>20s</th>
        <th>30s</th>
        <th>40s</th>
      </tr>
    </thead>
    <% @oz_lottos.each do |lotto| %>
        <tr id="lotto_id_<%= lotto.id %>">
              <td class="<%= lotto_match(lotto.n1) %>"><%= lotto.n1 %></td>
              <td class="<%= lotto_match(lotto.n2) %>"><%= lotto.n2 %></td>
              <td class="<%= lotto_match(lotto.n3) %>"><%= lotto.n3 %></td>
              <td class="<%= lotto_match(lotto.n4) %>"><%= lotto.n4 %></td>
              <td class="<%= lotto_match(lotto.n5) %>"><%= lotto.n5 %></td>
              <td class="<%= lotto_match(lotto.n6) %>"><%= lotto.n6 %></td>
              <td class="<%= lotto_match(lotto.n7) %>"><%= lotto.n7 %></td>
          <td>
            <%= link_to edit_oz_lotto_path(lotto), remote: true do %>
              <button class="btn btn-primary btn-xs">EDIT</button>
            <% end %>
          </td>
          <td>
            <%= link_to lotto, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <button class="btn btn-danger btn-xs">REMOVE</button>
            <% end %>
          </td>
          <td>
            <%= range_count(1,9,lotto) %>
          </td>
          <td>
            <%= range_count(10,19,lotto) %>
          </td>
          <td>
            <%= range_count(20,29,lotto) %>
          </td>
          <td>
            <%= range_count(30,39,lotto) %>
          </td>
          <td>
            <%= range_count(40,45,lotto) %>
          </td>
        </tr>
        <tr id="form_id_<%= lotto.id %>" style="display:none;">
        </tr>

    <% end %>
</table>

<div class="container">
  <h4>The <%= pluralize @vacant_number.count, "missing number" %>:</h4>
  <ul>
    <% @vacant_number.each do |n| %>
      <li><%= n %></li>
    <% end %>
  </ul>
</div>



<hr>
<p></p>
