<table class="table table-hover">

    <thead>
      <tr>
        <th colspan="9">lottos</th>
        <th>1-9</th>
        <th>10-19</th>
        <th>20-29</th>
        <th>30-39</th>
        <th>40-45</th>
      </tr>
    </thead>


    <% @oz_lottos.each do |lotto| %>

        <tr id="lotto_id_<%= lotto.id %>">
          <% if @current_result.include?(lotto.n1) %>
              <td class="lotto-match"><%= lotto.n1 %></td>
              <% else %>
              <td><%= lotto.n1 %></td>
          <% end %>
          <% if @current_result.include?(lotto.n2) %>
              <td class="lotto-match"><%= lotto.n2 %></td>
              <% else %>
              <td><%= lotto.n2 %></td>
          <% end %>
          <% if @current_result.include?(lotto.n3) %>
              <td class="lotto-match"><%= lotto.n3 %></td>
              <% else %>
              <td><%= lotto.n3 %></td>
          <% end %>
          <% if @current_result.include?(lotto.n4) %>
              <td class="lotto-match"><%= lotto.n4 %></td>
              <% else %>
              <td><%= lotto.n4 %></td>
          <% end %>
          <% if @current_result.include?(lotto.n5) %>
              <td class="lotto-match"><%= lotto.n5 %></td>
              <% else %>
              <td><%= lotto.n5 %></td>
          <% end %>
          <% if @current_result.include?(lotto.n6) %>
              <td class="lotto-match"><%= lotto.n6 %></td>
              <% else %>
              <td><%= lotto.n6 %></td>
          <% end %>
          <% if @current_result.include?(lotto.n7) %>
              <td class="lotto-match"><%= lotto.n7 %></td>
              <% else %>
              <td><%= lotto.n7 %></td>
          <% end %>
          <td>
            <%= link_to edit_oz_lotto_path(lotto), remote: true do %>
              <button class="btn btn-primary btn-xs">EDIT</button>
            <% end %>
          </td>
          <td>
            <%= link_to lotto, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <button class="btn btn-danger btn-xs">REMOVE</button>
            <% end %>
          </td>
          <td>
            <%= range_count(1,9,lotto) %>
          </td>
          <td>
            <%= range_count(10,19,lotto) %>
          </td>
          <td>
            <%= range_count(20,29,lotto) %>
          </td>
          <td>
            <%= range_count(30,39,lotto) %>
          </td>
          <td>
            <%= range_count(40,45,lotto) %>
          </td>
        </tr>
        <tr id="form_id_<%= lotto.id %>" style="display:none;">
        </tr>

    <% end %>
</table>

<table>
  <tr>
    <th colspan=" <%= @vacant_number.count %> ">The <%= @vacant_number.count %> missing number is </th>
  </tr>
  <tr>
    <% @vacant_number.each do |n| %>
      <td><%= n %></td>

    <% end %>
  </tr>
</table>

<hr>
<p></p>
